<header class="category-banner">
    <div class="banner-top-bar">
        <a routerLink="/home" class="btn-back-link">← Voltar para a Home</a>
        <button class="btn-logout" (click)="logout()">Sair 🚪</button>
    </div>
    
    <h2>{{ titulo }}</h2>
    <p>{{ descricao }}</p>
    
    <div class="category-tabs">
        <a routerLink="/biscoitos" routerLinkActive="active" class="tab-btn">Biscoitos Scooby</a>
        <a routerLink="/salsicha-cia" routerLinkActive="active" class="tab-btn">Salsicha & Cia</a>
        <a routerLink="/linha-antimonstro" routerLinkActive="active" class="tab-btn">Linha Antimonstros</a>
        <a routerLink="/maquina-misterio" routerLinkActive="active" class="tab-btn">Máquina de Mistério</a>
        <a routerLink="/bau-disfarce" routerLinkActive="active" class="tab-btn">Baú de Disfarces</a>
    </div>
</header>