<div class="login-page">

    <div class="side-form">
        <div class="login-card">

            <div class="login-inside">
                <span class="scooby-text">Scooby</span><span class="shop-text">Shop🐾</span>
            </div>

            <div class="login-header">
                <h2>Mistérios para resolver?</h2>
                <h3>Entre na Máquina do Mistério! 🚐</h3>
                <p>A fofura do seu pet não é segredo. Acesse para encontrar os melhores petiscos e brinquedos.</p>
            </div>

            <form class="login-form">

                <div class="input-group">
                    <label for="email">E-mail ou Usuário do Detetive</label>
                    <input type="email" id="email" placeholder="Insira seu email" required>
                </div>

                <div class="input-group">
                    <label for="password">Senha Ultra-Secreta</label>
                    <input type="password" id="password" placeholder="Insira sua senha" required>
                </div>

                <button type="submit" class="btn-login">Entrar na Máquina do Mistério 🚐</button>

                <div class="login-footer">
                    <p>Não é um aliado? <a href="#">Crie uma conta de detetive. 🐾</a></p>
                </div>
            </form>
        </div>
    </div>

    <div class="side-image">

    </div>
</div>