<div class="login-wrapper">
  <div class="login-card">
    <button type="button" class="btn-fechar fechar" (click)="fecharModal.emit()">✕</button>
    <div class="login-inside">
      <span class="scooby-text">Scooby</span><span class="shop-text">Shop🐾</span>
    </div>

    <div class="login-header">
      <h2>Mistérios para resolver?</h2>
      <h3>Entre na Máquina do Mistério! 🚐</h3>
      <p>A fofura do seu pet não é segredo. Acesse para encontrar os melhores petiscos e brinquedos.</p>
    </div>

    <form class="login-form" #loginForm="ngForm" (ngSubmit)="executarLogin(loginForm)">

      <div class="input-group">
        <label for="email">E-mail ou Usuário do Detetive</label>
        <input type="text" id="email" name="usuario" [(ngModel)]="usuarioDigitado" placeholder="Seu e-mail..." required>
      </div>

      <div class="input-group">
        <label for="password">Senha Ultra-Secreta</label>
        <input type="password" id="password" name="senha" [(ngModel)]="senhaDigitada" placeholder="Sua senha..."
          required>
      </div>

      <div class="lgpd-consent">
        <input type="checkbox" id="privacy-policy" name="termos" ngModel required>
        <label for="privacy-policy">
          Estou ciente e aceito os <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm">Termos de Uso</a> e a <a href="#">Política de Privacidade</a> do
          ScoobyShop.
        </label>
      </div>

      <div class="cadastro">
        <label>
          Não tem conta, crie <a href="javascript:void(0)" (click)="irParaCadastro.emit()">Aqui</a>
        </label>
      </div>

      <button type="submit" class="btn-login">Entrar na Máquina do Mistério 🚐</button>

    </form>

  </div>
</div>