<div class="login-page">

    <div class="side-form">
        <div class="login-card">

            <div class="login-inside">
                <span class="scooby-text">Scooby</span><span class="shop-text">Shop🐾</span>
            </div>

            <div class="login-header">
                <h2>Mistérios para resolver?</h2>
                <h3>Entre na Máquina do Mistério! 🚐</h3>
                <p>A fofura do seu pet não é segredo. Acesse para encontrar os melhores petiscos e brinquedos.</p>
            </div>

           <form class="login-form">
        
        <div class="input-group">
          <label for="email">E-mail ou Usuário do Detetive</label>
          <input type="email" id="email" placeholder="Seu e-mail..." required>
        </div>

        <div class="input-group">
          <label for="password">Senha Ultra-Secreta</label>
          <input type="password" id="password" placeholder="Sua senha..." required>
        </div>

        <div class="lgpd-consent">
          <input type="checkbox" id="privacy-policy" required>
          <label for="privacy-policy">
            Estou ciente e aceito os <a href="#">Termos de Uso</a> e a <a href="#">Política de Privacidade</a> do ScoobyShop.
          </label>
        </div>

        <button type="submit" class="btn-login" routerLink="/home">Entrar na Máquina do Mistério 🚐</button>

      </form>
        </div>
    </div>

    <div class="side-image">

    </div>
</div>