<div class="fundo">
     <app-category-header titulo="Linha Antimonstros 🧪"
        descricao="Equipamentos, elixires e loções especiais para manter os monstros bem longe do seu melhor amigo!">
    </app-category-header>

    <div class="flex">
        <main class="produtos-container">
            <section class="products-grid">
                
                <div class="product-card">
                    <span class="badge-tag">Mais Vendido! 🔥</span>
                    <div class="product-image">
                        <img src="shampoo-antimonstro.png" alt="Shampoo Espanta Fantasma">
                    </div>
                    <div class="product-info">
                        <h3>Shampoo Espanta Fantasma</h3>
                        <p class="description">Com extrato de lavanda e essência de coragem. Deixa o pelo brilhando e afasta assombrações.</p>
                        <div class="price-row">
                            <span class="price">R$ 32,90</span>
                            <button class="btn-buy">Adicionar ao Carrinho 🛒</button>
                        </div>
                    </div>
                </div>
    
                <div class="product-card">
                    <div class="product-image">
                        <img src="spray-monstro.png" alt="Spray Localizador de Pistas">
                    </div>
                    <div class="product-info">
                        <h3>Spray Detetor de Pistas</h3>
                        <p class="description">Basta uma borrifada para revelar pegadas brilhantes e desmascarar qualquer vilão.</p>
                        <div class="price-row">
                            <span class="price">R$ 24,50</span>
                            <button class="btn-buy">Adicionar ao Carrinho 🛒</button>
                        </div>
                    </div>
                </div>
    
                <div class="product-card">
                    <div class="product-image">
                        <img src="coleira-led.png" alt="Coleira Lanterna Anti-Escuridão">
                    </div>
                    <div class="product-info">
                        <h3>Coleira Lanterna Choque de Coragem</h3>
                        <p class="description">Equipada com LED ultra potente. Seu pet perde o medo do escuro e ilumina o caminho da investigação.</p>
                        <div class="price-row">
                            <span class="price">R$ 45,90</span>
                            <button class="btn-buy">Adicionar ao Carrinho 🛒</button>
                        </div>
                    </div>
                </div>
    
            </section>
        </main>
        
    </div>
</div>
 <app-rodape />