footer {
  background-color: #FF9F1C;
  border-top: 1px solid #f0f0f0;
  padding: 20px 40px; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  width: 100%;
  
  /* REMOVIDO: position: absolute, bottom e left */
  /* ADICIONADO: Isso avisa o Flexbox para chutar o footer pro final */
  margin-top: auto; 
}

footer .copyright {
  font-size: 13px;
  color: #fff;
  text-align: center; 
  margin: 0;          
}