<div class="fundo">
    <app-category-header titulo="Biscoitos Scooby 🦴"
        descricao="Encontre os petiscos favoritos do doguinho mais famoso do mundo e garanta a coragem do seu melhor amigo!">
    </app-category-header>

    <main class="produtos-container">

        <section class="products-grid">

            <div class="product-card">
                <span class="badge-tag">Mais Vendido! 🔥</span>
                <div class="product-image">
                    <img src="biscoito-lata.jpg" alt="Lata de Biscoitos Scooby">
                </div>
                <div class="product-info">
                    <h3>Biscoito Scooby Tradicional</h3>
                    <p class="description">A receita clássica que faz o Salsicha e o Scooby pularem de alegria. Edição
                        em lata.</p>
                    <div class="price-row">
                        <span class="price">R$ 29,90</span>
                        <button class="btn-buy">Adicionar ao Carrinho 🛒</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="biscoito-frango2.png" alt="Biscoito sabor frango">
                </div>
                <div class="product-info">
                    <h3>Snack Biscoito da Coragem</h3>
                    <p class="description">Sabor frango defumado. Ideal para adestramento e para perder o medo de
                        monstros.</p>
                    <div class="price-row">
                        <span class="price">R$ 18,50</span>
                        <button class="btn-buy">Adicionar ao Carrinho 🛒</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="biscoito-giga.jpg" alt="Biscoito tamanho gigante">
                </div>
                <div class="product-info">
                    <h3>Super Biscoito Scooby Giga</h3>
                    <p class="description">Um biscoito tamanho gigante para pets de grande porte (ou para os que têm
                        muita fome).</p>
                    <div class="price-row">
                        <span class="price">R$ 34,90</span>
                        <button class="btn-buy">Adicionar ao Carrinho 🛒</button>
                    </div>
                </div>
            </div>

        </section>
    </main>
    
</div>
<app-rodape />